<div class="modal-header">
	<h2 class="modal-title font-weight-normal"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;{{'users.title3' | translate}}</h2>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()"><span aria-hidden="true">&times;</span></button>
</div>
<form class="form" (ngSubmit)="onSubmit()" class="bs4-forms" *ngIf="isModalLoaded">
	<div class="modal-body">
		<div class="form-body">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group" [ngClass]="{ 'is-invalid': isFormSubmitted && checkObjectKeys() }">
						<label>{{'users.create.fields.select_users' | translate}}&nbsp;<span class="text-danger">*</span></label>
						<div class="col-sm-12">
							<div class="form-check i-child-checks m-b-xs" *ngFor="let permission of permissions | keyvalue; let $index=index;">
								<div>
									<label class="checkbox-container">
										<input type="checkbox" name="parent_{{$index}}" (change)="changePermissions($index, permission.key)" [checked]="isPermissionChecked(permission.key, assignPermissions, $index)" />
										{{permissionsUsers[permission.key].name}}
										<span class="checkbox-checkmark"></span>
									</label>
								</div>
								<div class="col-sm-12 hide" [hidden]="!hideElements[$index]">
									<div class="form-row">
										<div class="col-sm-3 col-12 m-xs" *ngFor="let pValue of permission.value">
											<label class="checkbox-container">
												<input type="checkbox" name="child_{{$index}}" [(checklist)]="assignPermissions[permission.key]" [checklistValue]="pValue" [disabled]="pValue === 'view'" />
												{{pValue | titlecase}}
												<span class="checkbox-checkmark"></span>
											</label>
										</div>
									</div>
								</div>
							</div>
							<div *ngIf="isFormSubmitted && checkObjectKeys()" class="invalid-feedback">{{'users.create.error_messages.message20' | translate}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-cancel mb-0" (click)="onCancel()">{{'common.cancel' | translate}}</button>
		<button type="submit" class="btn btn-submit mb-0">{{'common.assign' | translate}}</button>
	</div>
</form>
