<div class="modal-header">
	<h2 class="modal-title font-weight-normal"><i class="fa fa-money" aria-hidden="true"></i>&nbsp;{{'payment_methods.title' | translate}}</h2>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()"><span aria-hidden="true">&times;</span></button>
</div>
<form class="form" [formGroup]="paymentMethodForm" (ngSubmit)="onSubmit()">
	<div class="modal-body">
		<div class="form-body">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="name">{{'payment_methods.create.fields.method_name' | translate}}<span class="text-danger">&nbsp;*</span></label>
						<input type="text" placeholder="{{'payment_methods.create.placeholders.placeholder1' | translate }}" class="form-control" formControlName="method_name" [ngClass]="{ 'is-invalid': isFormSubmitted && paymentMethodControl.method_name.errors }" id="method_name" />
						<span class="font-small">{{'payments.info1' | translate}}</span>
						<div *ngIf="isFormSubmitted && paymentMethodControl.method_name.errors" class="invalid-feedback">
							<div *ngIf="paymentMethodControl.method_name.errors.required">{{'payment_methods.create.error_messages.message1' | translate }}</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="description">{{'payment_methods.create.fields.description' | translate}}</label>
						<textarea type="text" placeholder="{{'payment_methods.create.placeholders.placeholder2' | translate }}" class="form-control" id="description" formControlName="description" rows="4"></textarea>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="show_on_pdf" class="checkbox-container d-block">
							<input type="checkbox" class="form-control" formControlName="show_on_pdf" id="show_on_pdf" />
							<span class="checkbox-checkmark"></span>
							{{'payment_methods.create.fields.show_on_pdf' | translate}}
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-cancel mb-0" (click)="onCancel()">{{'common.close' | translate}}</button>
		<button type="submit" class="btn btn-submit mb-0">{{'common.create' | translate}}</button>
	</div>
</form>
