<div #container class="editable-container editable-inline">
	<div class="editable-label" [hidden]="isEditView">{{fieldValue | dateTimeFormatFilter: format}}&nbsp;&nbsp;&nbsp;
		<span (click)="showEditable()"><i *ngxPermissionsOnly="permission" class="fa fa-pencil" aria-hidden="true"></i></span>
	</div>
	<form #form="ngForm" *ngIf="isEditView" (ngSubmit)="save()" class="form-inline editableForm" novalidate="">
		<label for="txtField" class="sr-only">{{name}}</label>
		<div class="input-group">
			<input type="text" (bsValueChange)="startDateChange($event)" [placeholder]="'shared.inline_edit.placeholders.placeholder3' | translate:{'elementFor':elementFor}" [minDate]="mindate" name="txtField" #txtField="ngModel" class="form-control input-sm" id="txtField" [required]="isRequired" [(ngModel)]="fieldValue" #dp="bsDatepicker" bsDatepicker [ngClass]="{ 'is-invalid': txtField.hasError('required')}" autocomplete="off" [bsConfig]="datepickerConfigs" />
			<button type="submit" class="btn btn-inline-submit" [disabled]="!form.valid"><i class="fa fa-check" aria-hidden="true"></i></button>
			<button type="button" class="btn btn-inline-cancel" (click)="showDetail()"><i class="fa fa-times" aria-hidden="true"></i></button>
		</div>
		<div class="invalid-feedback">
			<span *ngIf="txtField.hasError('required')">{{'shared.inline_edit.error_messages.message1' | translate:{'elementFor':elementFor | ucfirst} }}</span>
		</div>
	</form>
</div>
