<div class="row" *ngIf="isPageloaded">
	<div class="col-sm-12">
		<div class="card bg-transparent">
			<div class="card-header p-0">
				<h4 class="sub-title mt-2"><span>{{'todos.title' | translate}}</span></h4>
				<button class="btn btn-create mr-2 mb-0" tooltip="{{'common.create' | translate}}" (click)="openTodoCreateModal()" *ngxPermissionsOnly="['admin', 'super_admin', 'todos_create']">
					<i class="fa fa-plus"></i>
				</button>
			</div>
			<div class="card-content pt-1" *ngIf="todos.open.length > 0">
				<div class="card-body">
					<div class="drag-container">
						<div cdkDropList #pendingList="cdkDropList" [cdkDropListData]="todos.open" [cdkDropListConnectedTo]="[doneList]" class="item-list" (cdkDropListDropped)="drop($event)">
							<div class="item-box" *ngFor="let item of todos.open" cdkDrag>
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-1">
											<label class="checkbox-container checkbox-container-custom  p-1 mb-1 mt-0 mr-0">
												<input type="checkbox" class="form-control" name="status" id="status{{item.id}}" (change)="changeStatus(item, 2)" />
												<span class="checkbox-checkmark"></span>
											</label>
										</div>
										<div class="col-md-8">
											<inline-edit-textarea [name]="'description'" [fieldValue]="item.description" [elementFor]="'todos.inline_edit.description' | translate" [isRequired]="'true'" (updateValue)="saveTodosDetail(item, 'description', $event);"></inline-edit-textarea>
										</div>
										<div class="col-md-3">
											<inline-edit-date [name]="'due_date'" [fieldValue]="item.due_date" [elementFor]="'todos.inline_edit.due_date' | translate" [isRequired]="'true'" [datepickerConfigs]="datepickerConfigs" [format]="loginUser.settings.date_format" (updateValue)="saveTodosDetail(item, 'due_date', $event);"></inline-edit-date>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
