<div #container class="editable-container editable-inline">
	<div class="editable-label budges-status" [hidden]="isEditView">
		<ng-container *ngFor="let taxes of getValue(options)">
			<span class="open">{{taxes}}</span>
		</ng-container>
		<span (click)="showEditable()" class="editable"><i class="fa fa-pencil" aria-hidden="true"></i></span>
	</div>
	<form #form="ngForm" *ngIf="isEditView" (ngSubmit)="save()" class="form-inline editableForm" novalidate="">
		<label for="txtField" class="sr-only">{{txtField}}</label>
		<div class="input-group">
			<ng-select #select_component
				[name]="name"
				[searchable]="true"
				[required]="isRequired"
				[closeOnSelect]="false"
				[items]="options"
				[selectOnTab]="true"
				bindLabel="tax_name"
				bindValue="id"
				labelForId="txtField"
				[multiple]="true"
				[placeholder]="'shared.inline_edit.placeholders.placeholder2' | translate:{'elementFor':elementFor}"
				[(ngModel)]="value"
				(select)="select($event, select_component)"
				[ngClass]="{ 'is-invalid': select_component.isValueSelected }">
			</ng-select>
			<button type="submit" class="btn btn-inline-submit" [disabled]="!form.valid"><i class="fa fa-check" aria-hidden="true"></i></button>
			<button type="button" class="btn btn-inline-cancel" (click)="showDetail()"><i class="fa fa-times" aria-hidden="true"></i></button>
		</div>
		<div class="invalid-feedback">
			<span *ngIf="select_component.isValueSelected">{{'shared.inline_edit.error_messages.message1' | translate:{'elementFor':elementFor} }}</span>
		</div>
	</form>
</div>
