<div class="modal-header">
	<h2 class="modal-title font-weight-normal"><i class="fa fa-language" aria-hidden="true"></i>&nbsp;{{'settings.translations.title' | translate}}</h2>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()"><span aria-hidden="true">&times;</span></button>
</div>
<form [formGroup]="createTranslationForm" (ngSubmit)="onSubmit()" class="bs4-forms">
	<div class="modal-body">
		<div class="form-body">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group" [ngClass]="{ 'is-invalid': isFormSubmitted && getTranslationControl.language.errors }">
						<label for="language">{{'settings.translations.create.fields.language' | translate}}<span class="text-danger">&nbsp;*</span></label>
						<ng-select [searchable]="true"
							[items]="languages"
							[selectOnTab]="true"
							bindLabel="name"
							bindValue="code"
							labelForId="language"
							placeholder="{{'settings.translations.create.placeholders.placeholder1' | translate}}"
							formControlName="language">
						</ng-select>
						<div *ngIf="isFormSubmitted && getTranslationControl.language.errors" class="invalid-feedback">
							<div *ngIf="getTranslationControl.language.errors.required">{{'settings.translations.create.error_messages.message1' | translate}}</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group" [ngClass]="{ 'is-invalid': isFormSubmitted && getTranslationControl.icon.errors }">
						<label for="icon">{{'settings.translations.create.fields.icon' | translate}}<span class="text-danger">&nbsp;*</span></label>
						<input type="hidden" formControlName="icon">
						<div class="dropzone dz-clickable" #translateDropzone>
							<div class="dz-default dz-message"><span><strong>{{'settings.translations.create.error_messages.message3' | translate}}</strong></span></div>
						</div>
						<div *ngIf="isFormSubmitted && getTranslationControl.icon.errors" class="invalid-feedback">
							<div *ngIf="getTranslationControl.icon.errors.required">{{'settings.translations.create.error_messages.message2' | translate}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-cancel mb-0" (click)="onCancel()">{{'common.cancel' | translate}}</button>
		<button type="submit" class="btn btn-submit mb-0">{{'common.create' | translate}}</button>
	</div>
</form>
