<section class="hide_empty_message">
	<div class="row">
		<div class="col-sm-12">
			<div class="card pl-2 pr-2">
				<div class="card-header pl-0 pr-0 border-bottom">
					<h4 class="main-title mt-2"><span>{{'roles.title' | translate}}</span></h4>
					<button class="btn btn-create mb-0" *ngxPermissionsOnly="['admin', 'super_admin', 'roles_create']" (click)="openRoleCreateModal()" tooltip="{{'common.create' | translate}}"><i class="fa fa-plus"></i></button>
				</div>
				<div class="card-content pt-3 pb-3">
					<div class="card-body">
						<div class="table-responsive-xs table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
							<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover b4-datatable" id="role_table" width="100%">
								<thead>
									<tr>
										<th>#</th>
										<th>{{'roles.columns.role_name' | translate}}</th>
										<th>{{'roles.columns.role_slug' | translate}}</th>
										<th>{{'roles.columns.description' | translate}}</th>
										<th>{{'roles.columns.actions' | translate}}</th>
									</tr>
								</thead>
								<tbody *ngIf="roles?.length != 0">
									<tr *ngFor="let role of roles; index as i">
										<td class="text-center">{{ i + 1 }}</td>
										<td>
											<ng-container *ngIf="getCheckRole(role); else elseBlock">
												<inline-edit-input [name]="'name'" [type]="'text'" [elementFor]="'roles.inline_edit.role_name' | translate" [fieldValue]="role.name" [permission]="'roles_edit'" [maxLength]="50" [isRequired]="'true'" (updateValue)="saveRoleDetail(i, 'name', $event);"></inline-edit-input>
											</ng-container>
											<ng-template #elseBlock>
												{{role.name}}
											</ng-template>
										</td>
										<td>{{role.slug}}</td>
										<td>
											<ng-container *ngIf="getCheckRole(role); else elseBlock1">
												<inline-edit-textarea [name]="'description'" [fieldValue]="role.description" [elementFor]="'roles.inline_edit.description' | translate" [isRequired]="'false'" (updateValue)="saveRoleDetail(i, 'description', $event);"></inline-edit-textarea>
											</ng-container>
											<ng-template #elseBlock1>
												<p [innerHTML]="role.description"></p>
											</ng-template>
										</td>
										<td class="actions-dropdown">
											<ng-container *ngIf="getCheckRole(role); else elseBlock2">
												<div class="btn-group" dropdown>
													<button dropdownToggle class="dropdown-toggle btn-action" type="button" id="button-basic-1" aria-controls="dropdown-basic-1"><i class="fa fa-ellipsis-v"></i></button>
													<ul id="dropdown-basic-1" *dropdownMenu class="dropdown-menu animated fadeIn" role="menu" aria-labelledby="button-basic-1">
														<li role="menuitem">
															<a (click)="openRoleEditModal(role)" class="dropdown-item btn btn-edit btn-raised"><i class="fa fa-pencil-square-o" tooltip="{{'common.edit' | translate}}"></i></a>
														</li>
														<li role="menuitem">
															<a (click)="roleDelete(role.id)" class="dropdown-item btn btn-delete btn-raised"><i class="fa fa-trash-o" tooltip="{{'common.delete' | translate}}"></i></a>
														</li>
													</ul>
												</div>
											</ng-container>
											<ng-template #elseBlock2>-</ng-template>
										</td>
									</tr>
								</tbody>
								<tfoot *ngIf="roles?.length == 0" class="tfoot_dt">
									<tr>
										<td colspan="5" class="no-data-available text-center">{{'common.datatable.sEmptyTable' | translate}}</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
