<div class="modal-header">
	<h2 class="modal-title font-weight-normal"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{'timesheet.create.title2' | translate}}</h2>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsEditRoleModalRef.hide()"><span aria-hidden="true">&times;</span></button>
</div>
<form class="form" [formGroup]="editTimesheetForm" (ngSubmit)="onSubmit()">
	<div class="modal-body">
		<div class="form-body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group" [ngClass]="{ 'is-invalid': isFormSubmitted && timesheetControl.start_time.errors }">
						<label for="start_time">{{'timesheet.create.fields.start_time' | translate}}<span class="text-danger">&nbsp;*</span></label>
						<div class="position-relative has-icon-left">
							<owl-date-time #startDT></owl-date-time>
							<input class="form-control" [owlDateTimeTrigger]="startDT" [owlDateTime]="startDT" formControlName="start_time" id="start_time" placeholder="{{'timesheet.create.placeholders.placeholder1' | translate}}" aria-describedby="inputGroupPrepend1" (dateTimeChange)="startTimeChange($event)" />
							<div class="form-control-position"><i class="ft-calendar"></i></div>
						</div>
						<div *ngIf="isFormSubmitted && timesheetControl.start_time.errors" class="invalid-feedback">
							<div *ngIf="timesheetControl.start_time.errors.required">{{'timesheet.create.error_messages.message1' | translate}}</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group" [ngClass]="{ 'is-invalid': isFormSubmitted && timesheetControl.end_time.errors }">
						<label for="end_time">{{'timesheet.create.fields.end_time' | translate}}<span class="text-danger">&nbsp;*</span></label>
						<div class="position-relative has-icon-left">
							<owl-date-time #endDT></owl-date-time>
							<input class="form-control" [owlDateTimeTrigger]="endDT" [owlDateTime]="endDT" [min]="editTimesheetForm.get('start_time').value" formControlName="end_time" id="end_time" placeholder="{{'timesheet.create.placeholders.placeholder2' | translate}}" aria-describedby="inputGroupPrepend2" />
							<div class="form-control-position"><i class="ft-calendar"></i></div>
						</div>
						<div *ngIf="isFormSubmitted && timesheetControl.end_time.errors" class="invalid-feedback">
							<div *ngIf="timesheetControl.end_time.errors.required">{{'timesheet.create.error_messages.message2' | translate}}</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="note">{{'timesheet.create.fields.note' | translate}}</label>
						<textarea class="form-control" formControlName="note" id="note" placeholder="{{'timesheet.create.placeholders.placeholder3' | translate}}" [ngClass]="{ 'is-invalid': isFormSubmitted && timesheetControl.note.errors }"></textarea>
						<div *ngIf="isFormSubmitted && timesheetControl.note.errors" class="invalid-feedback">
							<div *ngIf="timesheetControl.note.errors.required">{{'timesheet.create.error_messages.message4' | translate}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-cancel mb-0" (click)="onCancel()">{{'common.close' | translate}}</button>
		<button type="submit" class="btn btn-submit mb-0">{{'common.update' | translate}}</button>
	</div>
</form>
