<div class="modal-header">
	<h2 class="modal-title font-weight-normal"><i class="fa fa-list-ul" aria-hidden="true"></i>&nbsp;{{'marketings.title' | translate}}</h2>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()"><span aria-hidden="true">&times;</span></button>
</div>
<form class="form" [formGroup]="editTodoForm" (ngSubmit)="onSubmit()">
	<div class="modal-body">
		<div class="form-body">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="description">{{'marketings.create.fields.description' | translate}}<span class="text-danger">&nbsp;*</span></label>
						<textarea type="text" placeholder="{{'marketings.create.placeholders.placeholder1' | translate}}" class="form-control" id="description" formControlName="description" [ngClass]="{ 'is-invalid': isFormSubmitted && marketingControl.description.errors }"></textarea>
						<div *ngIf="isFormSubmitted && marketingControl.description.errors" class="invalid-feedback">
							<div *ngIf="marketingControl.description.errors.required">{{'marketings.create.error_messages.message1' | translate}}</div>
							<div *ngIf="marketingControl.description.errors.minlength">{{'marketings.create.error_messages.message2' | translate}}</div>
							<div *ngIf="marketingControl.description.errors.maxlength">{{'marketings.create.error_messages.message3' | translate}}</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="due_date">{{'marketings.create.fields.due_date' | translate}}</label>
						<div class="position-relative has-icon-left">
							<input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [bsConfig]="datepickerConfig" formControlName="due_date" id="due_date" placeholder="{{'marketings.create.placeholders.placeholder3' | translate}}" [ngClass]="{ 'is-invalid': isFormSubmitted && marketingControl.due_date.errors }" />
							<div class="form-control-position"><i class="ft-calendar"></i></div>
							<div *ngIf="isFormSubmitted && marketingControl.due_date.errors" class="invalid-feedback">
								<div *ngIf="marketingControl.due_date.errors.required">{{'marketings.create.error_messages.message5' | translate}}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group" [ngClass]="{ 'is-invalid': isFormSubmitted && marketingControl.status.errors }">
						<label for="status">{{'marketings.create.fields.status' | translate}}<span class="text-danger">&nbsp;*</span></label>
						<ng-select [items]="('marketings.status' | translate)"
							bindLabel="label"
							bindValue="id"
							[multiple]="false"
							formControlName="status"
							placeholder="{{'marketings.create.placeholders.placeholder2' | translate}}"
							[searchable]="true" [ngClass]="{ 'is-invalid': isFormSubmitted && marketingControl.status.errors }">
							<ng-template ng-option-tmp let-item="item">{{item.label}}</ng-template>
						</ng-select>
						<div *ngIf="isFormSubmitted && marketingControl.status.errors" class="invalid-feedback">
							<div *ngIf="marketingControl.status.errors.required">{{'marketings.create.error_messages.message4' | translate}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-cancel mb-0" (click)="onCancel()">{{'common.close' | translate}}</button>
		<button type="submit" class="btn btn-submit mb-0">{{'common.update' | translate}}</button>
	</div>
</form>
