<div class="modal-header">
    <h2 class="modal-title font-weight-normal"><i class="fa fa-suitcase" aria-hidden="true"></i>&nbsp;{{'leaves.title7' | translate}}</h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()"><span aria-hidden="true">&times;</span></button>
</div>
<form class="form" [formGroup]="editLeaveForm" (ngSubmit)="onSubmit()" *ngIf="isPageLoad">
    <div class="modal-body">
        <div class="form-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" [ngClass]="{ 'is-invalid': isFormSubmitted && leaveControl.leave_type_id.errors }">
                        <label for="leave_type_id">{{'leaves.create.fields.leave_type' | translate}}&nbsp;<span class="text-danger">*</span></label>
                        <div class="d-flex">
                            <ng-select [searchable]="true" [items]="leavetypes" [selectOnTab]="true" bindLabel="leave_type" bindValue="id" labelForId="leave_type" formControlName="leave_type_id" placeholder="{{'leaves.create.placeholders.placeholder2' | translate}}">
                            </ng-select>
                            <button type="button" (click)="openLeaveTypeModal();" class="btn btn-secondary" placement="left" tooltip="{{'leave_types.title3' | translate }}" *ngxPermissionsOnly="['admin', 'super_admin', 'leavetypes_create']"><i class="fa fa-plus"></i></button>
                        </div>
                        <div *ngIf="isFormSubmitted && leaveControl.leave_type_id.errors" class="invalid-feedback">
                            <div *ngIf="leaveControl.leave_type_id.errors.required">{{'leaves.create.error_messages.message2' | translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{'leaves.create.fields.duration' | translate}}</label><br>
                        <label class="form-check radio-container d-block">
                            <input class="form-check-input" type="radio" formControlName="duration" value="full" id="checkbox1" (change)="changeDuration($event)">
                            <label class="form-check-label" for="checkbox1">&nbsp;{{'leaves.labels.single' | translate}}&nbsp;</label>
                            <span class="radio-checkmark"></span>
                        </label>
                        <label class="form-check radio-container d-block">
                            <input class="form-check-input" type="radio" formControlName="duration" value="half" id="checkbox3" (change)="changeDuration($event)">
                            <label class="form-check-label" for="checkbox3">&nbsp;{{'leaves.labels.half_day' | translate}}</label>
                            <span class="radio-checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" [ngClass]="{ 'is-invalid': isFormSubmitted && leaveControl.leave_date.errors }">
                        <label for="leave_date">{{'leaves.create.fields.leave_date' | translate}}<span class="text-danger">&nbsp;*</span></label>
                        <div class="position-relative has-icon-left">
                            <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [bsConfig]="datepickerConfig" formControlName="leave_date" id="leave_date" placeholder="{{'leaves.create.placeholders.placeholder3' | translate}}" aria-describedby="inputGroupPrepend1" [ngClass]="{ 'is-invalid': isFormSubmitted && leaveControl.leave_date.errors }" />
                            <div class="form-control-position"><i class="ft-calendar"></i></div>
                        </div>
                        <div *ngIf="isFormSubmitted && leaveControl.leave_date.errors" class="invalid-feedback">
                            <div *ngIf="leaveControl.leave_date.errors.required">{{'leaves.create.error_messages.message3' | translate}}</div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="editLeaveForm.get('duration').value == 'half'">
                        <ng-select 
                            [searchable]="true" 
                            [items]="('leaves.half_leaves_status' | translate)" 
                            [selectOnTab]="true" 
                            bindLabel="label" 
                            bindValue="id" 
                            labelForId="label" 
                            formControlName="duration_type">
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group" [ngClass]="{ 'is-invalid': isFormSubmitted && leaveControl.reason.errors }">
                        <label for="reason">{{'leaves.create.fields.reason' | translate}}&nbsp;<span class="text-danger">*</span> </label>
                        <textarea class="form-control" formControlName="reason" id="reason" placeholder="{{'leaves.create.placeholders.placeholder5' | translate}}"></textarea>
                        <div *ngIf="isFormSubmitted && leaveControl.reason.errors" class="invalid-feedback">
                            <div *ngIf="leaveControl.reason.errors.required">{{'leaves.create.error_messages.message5' | translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>{{'leaves.create.fields.attachments' | translate}}</label>
                        <div class="dropzone dz-clickable" #leaveDropzone>
                            <ng-container *ngFor="let attachment of leave.attachments; index as i">
                                <div class="dz-preview dz-file-preview">
                                    <div class="dz-image"><img data-dz-thumbnail=""></div>
                                    <div class="dz-details">
                                        <div class="dz-size">
                                            <span data-dz-size="">
                                                <a target="_blank" download="{{attachment.file_name}}" href="{{apiUrl}}/uploads/leave_attachment/{{attachment.file_hash}}">{{'common.download' | translate}}</a>
                                            </span>
                                        </div>
                                        <div class="dz-filename"><span data-dz-name="">{{attachment.file_name}}</span></div>
                                    </div>
                                    <button type="button" class="btn btn-sm btn-block" (click)="removeattachments(attachment.id)">{{'common.remove_file' | translate}}</button>
                                </div>
                            </ng-container>
                            <div class="dz-default dz-message">
                                <span><strong>{{'leaves.create.error_messages.message6' | translate}}</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-cancel mb-0" (click)="onCancel()">{{'common.close' | translate}}</button>
        <button type="submit" class="btn btn-submit mb-0">{{'common.update' | translate}}</button>
    </div>
</form>
